* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__top {
  min-height: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: #292929;
  line-height: 22px;
}
.header__logo {
  min-width: 300px;
  margin-right: 290px;
}
.header__logo-img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.header__logo-title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}
.header__logo-subtitle {
  font-size: 11px;
  color: #969696;
  white-space: initial;
}
.header__nav {
  display: flex;
  align-items: flex-start;
  min-width: 300px;
}
.header__tel {
  margin-right: 30px;
  text-align: right;
}
.header__tel a {
  font-size: 18px;
  font-weight: 700;
  color: #292929;
}
.header__tel-text {
  font-size: 11px;
  color: #969696;
}
.header__back-call a {
  min-width: 160px;
  height: 40px;
  border: 2px solid #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  font-size: 14px;
  font-weight: bold;
}
.header__back-call a:hover {
  box-shadow: -2px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
.header__menu {
  min-height: 550px;
}
.header__menu-img {
  background-image: url(header_menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 550px;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: inset 0 0 0 1000px rgba(48, 48, 48, 0.5);
}

.header__wrapper {
  margin-top: -580px;
}
.header__menu-nav {
  background-color: #ffcc00;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.header__menu-link {
  font-size: 18px;
  color: black;
  font-weight: 700;
  position: relative;
}

.header__menu-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -5px;
  left: 0px;
  display: none;
}
.header__menu-link:hover.header__menu-link::after {
  display: block;
  color: #fff;
}
.header__text-title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 140px 0px 40px 0px;
}
.header__text-subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.header__button-link {
  padding: 20px 30px;
  background-color: #ffd200;
  color: black;
  font-weight: 600;
  border-radius: 25px;
  margin-right: 30px;
}
.header__button-link:hover {
  color: #fff;
}
.header__button {
  color: #fff;
  font-size: 18px;
}
.header__button-account {
  color: #fff;
  margin-left: 15px;
  position: relative;
}
.header__button-account::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: #fff;
  opacity: 0.4;
}
.product {
  min-height: 710px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding: 80px 0px 60px 0px;
}
.product__list {

  width: 32%;
  min-height: 470px;
}
.product__list {
  text-align: center;
}
.product__list:hover {
  -webkit-box-shadow: 4px 0px 39px 0px #000000;
  box-shadow: 4px 0px 39px 0px #000000;
}
.product__list img {
  margin: 35px 0px 0px 0px;
}
.product__img {
  height: 210px;
}
.product__title {
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #c9c9c9;
  display: inline-block;
}
.product__text {
  padding: 15px 35px 30px 35px;
  color: #6c6c6c;
  font-size: 13px;
}
.product__subtitle {
  font-weight: bold;
  font-size: 18px;
}
.product__list a {
  display: flex;
  width: 180px;
  height: 50px;
  background-color: #ffd200;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.product__list a:hover {
  color: #fff;
  box-shadow: 0px 10px 13px -7px #000000;
}
.advantages {
  min-height: 490px;
  background-color: #f4f4f4;
}
.advantages__list {
  border: 2px solid #fff;
  text-align: center;
  width: 32%;
  color: #292929;
  min-height: 250px;
}
.advantages__list:hover {
  background-color: #fff;
}
.advantages__img img {
  padding: 40px 0px;
}
.advantages__title {
  font-weight: bold;
  color: #292929;
  padding-bottom: 10px;
}
.advantages__text {
  font-size: 12px;
  padding: 0px 20px;
}
.popular {
  min-height: 595px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.popular__block {
  border: 2px solid #f6f6f6;
  width: 23.5%;
  min-height: 345px;
  text-align: center;
}
.popular__block:hover {
  -webkit-box-shadow: 4px 0px 39px 0px #000000;
  box-shadow: 4px 0px 39px 0px #000000;
}
.popular__block-inner {
  height: 235px;
  position: relative;
}
.popular__img {
  padding: 20px 18px;
}

.popular__img.sale::after {
  content: "Акция";
  position: absolute;
  left: 30px;
  top: 30px;
  height: 25px;
  width: 55px;
  background-color: red;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.popular__title {
  display: inline;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid #c9c9c9;
}
.popular__subtitle {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}

.popular__subtitle span {
  color: #b3b3b3;
  text-decoration: line-through;
  font-size: 12px;
  padding-right: 10px;
}
.popular__subtitle span + span {
  color: red;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
.popular__button {
  display: flex;
  width: 160px;
  height: 40px;
  background-color: #ffd200;
  color: black;
  font-weight: bold;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.popular__button:hover {
  color: #fff;
  box-shadow: 0px 10px 13px -7px #000000;
}
.services {
  height: 490px;
  background-color: #f4f4f4;
}
.services__block {
  height: 250px;
  width: 32%;
  border: 2px solid #fff;
  text-align: center;

  justify-content: center;
  align-items: center;
}
.services__block:hover {
  background-color: #fff;
}
.services__img {
  padding-top: 40px;
  height: 200px;
}
.services__title a {
  font-weight: bold;
  font-size: 16px;
  color: #292929;
  border-bottom: 2px solid #c1c1c1;
}
.contacts__img {
  background-image: url(contacts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 550px;
  max-width: 1920px;
  margin: 0 auto;
}
.contacts {
  position: relative;
}
.contacts::after{
  content: "";
  position: absolute;
  left:585px;
  top:220px;
  width: 28px;
  height: 42px;
  background-image: url(location.png);
}
.contacts__wrapper {
  position: absolute;
  top: 80px;
  right:485px;
  min-height: 364px;
  width: 380px;
  padding: 50px 0px 0px 60px;
  background-color: #fff;
  color: #292929;
}
.contacts__title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.contacts__phone {
  padding-left: 30px;
  position: relative;
}
.contacts__phone::after{
  content: "";
  position: absolute;
  left:0px;
  top:0px;
  width: 12px;
  height: 12px;
  background-image: url(phone.png);
}
.contacts__phone a{
  display: block;
  color:#292929;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 18px;
}
.contacts__adres{
  font-size: 14px;
  padding-left: 30px;
  width: 230px;
  padding-bottom: 30px;
  position: relative;
}
.contacts__adres::after{
  content: "";
  position: absolute;
  left:0px;
  top:5px;
  width: 10px;
  height: 15px;
  background-image: url(maps.png);
  
}

.contacts__mail{
  padding-left: 30px;
  position: relative;
}
.contacts__mail a{
  font-size: 14px;
  color:#292929;
  font-weight: bold;
  border-bottom: 2px solid #c9c9c9;
}
.contacts__mail::after{
  content: "";
  position: absolute;
  left:0px;
  top:5px;
  width: 14px;
  height: 10px;
  background-image: url(mail.png);
}
.footer{
  background-color: #292929;
  min-height: 110px;
  padding-top: 50px;
  color: #fff;
}
.footer .wrapper{
  padding-bottom: 40px;
}
.footer__logo{
 
  width: 100%;
}
.footer__logo-img img{
float: left;
padding-right: 15px;
}
.footer__serteficat{
  font-size: 12px;
  padding-top: 50px;
}
.header__logo-subtitle{
  white-space: initial;
}
.footer__nav{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
}
.footer__tel a{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.footer__tel-text{
  font-size: 12px;
  padding-top: 5px;
}
.footer__back-call a{
  width: 160px;
  height: 40px;
  border: 2px solid #ffffff;
  line-height: 35px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
 display: inline-block;
 margin-top: 20px;
 text-align: center;
}
.footer__back-call a:hover{
  box-shadow: -2px 0px 20px 0px rgba(255, 255, 255, 0.75);
}


